/* Your SCSS here. */
html {
  font-family: "Montserrat";
}
body {
  text-align: center;
  height: 100%;
  margin: 0;
  font-family: "Montserrat";
}

#sticky {
  position: sticky;
  top: 0;
  padding: 13px;
  background-color: black;
  z-index: 1;
}

.StickyAnchor {
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
.StickyAnchor:hover {
  cursor: pointer;
}

.carousel {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.slides img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.back {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: #ff5f05;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6 ease;
  border-radius: 0 3px 3px 0;
  left: 0;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: #ff5f05;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6 ease;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.Column {
  display: inline-block;
  width: 450px;
  text-align: left;
  margin-right: 1px;
  font-size: 11px;
  margin-bottom: 10px;
  vertical-align: top;
}

.icons {
  text-align: center;
  display: block;
  margin: auto;
  font-size: 20px;
}

.BackgroundImage {
  background-image: url("../assets/WEBDEV.png");
}

.modal {
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modalContent {
  margin: auto;
  border: 1px;
  padding: 15px;
  width: 80%;
}
video {
  width: 60%;
}
.close1:hover {
  cursor: pointer;
}
.close2:hover {
  cursor: pointer;
}
.close3:hover {
  cursor: pointer;
}

#Button1,
#Button3 {
  background-color: #ff5f05;
  padding: 10px;

  width: 150px;
  color: white;
  font-weight: bold;
}

#Button2 {
  background-color: #13294b;
  padding: 10px;
  color: white;
  width: 150px;
  font-weight: bold;
}

#Button1,
#Button2,
#Button3:hover {
  cursor: pointer;
}
.buttons {
  align-items: center;
  margin-right: 30px;
}

.modalDiv {
  text-align: center;
}

.about {
  background-color: #13295e;
  color: white;
  font-family: "Montserrat";
}
