/* Your SCSS here. */
html {
  font-family: "Montserrat";
}
body {
  text-align: center;
  height: 100%;
  margin: 0;
}

#sticky {
  position: sticky;
  top: 0;
  padding: 13px;
  background-color: black;
  z-index: 1;
}

#stickyAnchor {
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.carousel {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
  animation-name: fade;
  animation-duration: 1.5s;
}

.back {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: rgb(239, 220, 220);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6 ease;
  border-radius: 0 3px 3px 0;
  left: 0;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: rgb(239, 220, 220);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6 ease;
  right: 0;
  border-radius: 3px 0 0 3px;
}

@keyframes slides {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.Column {
  display: inline-block;
  width: 450px;
  text-align: left;
  margin-right: 1px;
  font-size: 11px;
  margin-bottom: 10px;
  vertical-align: top;
}

.icons {
  text-align: center;
  display: block;
  margin: auto;
  font-size: 20px;
}

.BackgroundImage {
  background-image: url("../assets/WEBDEV.png");
}

.modal {
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modalContent {
  margin: auto;
  border: 1px;
  padding: 15px;
  width: 80%;
}
video {
  width: 60%;
}
.close1:hover {
  cursor: pointer;
}
.close2:hover {
  cursor: pointer;
}
.close3:hover {
  cursor: pointer;
}
